@use "../../styles/partials/reset";
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video-section {
  border: 1px solid blue;
}

.video-comments {
  color: black;
  border: 1px solid red;
  display: flex;
  padding: 1.5rem 0;

  &__image {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    margin-right: 1rem;
    background-color: $secondary-color-mercury;
    @include tablet {
      width: 3.5rem;
      height: 3.5rem;
    }
  }

  &__wrapper {
    width: 85%;
  }
}

.comment {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25rem;

  &__name,
  &__date {
    margin-top: 0;
    margin-bottom: 0;
    @include subheader;
    @include tablet {
      @include body-copy;
      font-weight: 600;
    }
  }

  &__date {
    color: $primary-color-silver;
    font-weight: 300;
  }
}
