@use "../../styles/partials/reset";
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.video {
  &__title {
    margin: 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid $secondary-color-mercury;
    @include page-header;
    color: $secondary-color-black;
    @include tablet {
      border-bottom: none;
    }
  }

  &__specs {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    border-bottom: 1px solid $secondary-color-mercury;
    @include tablet {
      padding-top: 0;
    }
    @include desktop {
      padding-right: 1rem;
    }
  }

  &__credentials {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include tablet {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: flex-start;
      align-items: center;
    }
  }

  &__author {
    color: $secondary-color-black;
    @include subheader;
    font-size: 1rem;
    font-weight: 600;
    @include tablet {
      margin-right: 2.5rem;
    }
  }

  &__date {
    color: $primary-color-silver;
    @include subheader;
    font-weight: 400;
  }

  &__stats {
    width: 50%;
    @include tablet {
      display: flex;
      justify-content: flex-end;
      width: 100%;
    }
  }

  &__wrapper {
    display: flex;
    align-items: center;
    &--top {
      margin-bottom: 0.5rem;
      @include tablet {
        margin-bottom: 0;
        margin-right: 1.5rem;
      }
    }
  }

  &__icon {
    margin-right: 0.5rem;
  }

  &__button-text {
    margin: 0;
    color: $primary-color-silver;
  }

  &__text {
    padding: 1rem 0;
    @include desktop {
      padding-right: 1rem;
    }
  }

  &__description {
    margin: 0;
    color: $primary-color-black;
    @include body-copy;
    @include tablet {
      margin: 0.5rem 0;
    }
  }
}
